<h1>Products</h1>

<h3>Welcome to Mario's Marketplace!<h3>

<p>For over 30 years, Mario's has been a proud community member of the Tri-state area! In addition to serving the best Pizza at our famous restaurant, we are also the go-to spot for hard-to-find items! Please view our products below, and feel free to leave a review.</p>

<% if @products.any? %>
  <h3>new additions!<h3>
  <ul>
    <% @products.three_most_recent.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>

  <h3>Proudly made in the USA!</h3>
  <ul>
    <% @products.from_usa.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>

  <h3>Spotlight: our most reviewed product!</h3>
  <ul>
    <% @products.most_reviews.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>

  <h3>all products</h3>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
<% else %>
  <p>Hold your horses, we're still stocking our shelves!</p>
<% end %>

<p><%= link_to "Enter new product", new_product_path %></p>