<!DOCTYPE html>
<html lang ="en">
  <head>
    <title>MariosMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <nav class = "navbar navbar-default">
        <div class="navbar-header">
          <%= link_to "home", root_path, class: "navbar-brand" %>
          <%= image_tag "marketplace2.jpg" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "add product", new_product_path%> </li>
          <li> <a href="https://pangtodd.github.io/PizzaParlor/">Mario's Hideout Pizza</a></li>
        </ul>
      </nav>
    </header>

    <section class="container">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </section>
  </body>
</html>
